# Ignore sensitive data
.env

debug*

# Ignore temporary files
*.tmp
*.log
*.bak

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore uploads directory
uploaded_images/

# But track this specific file
!uploaded_images/detected_Snack_0.13_db8318a668504073ad5fd0677187d305.jpg

*.pt